controller:
  config:
    log-format-upstream: '$proxy_protocol_addr - $request_id - [$proxy_add_x_forwarded_for] - $remote_user [$time_local] "$request" $status $body_bytes_sent "$http_referer" "$http_user_agent" $request_length $request_time [$proxy_upstream_name] $upstream_addr $upstream_response_length $upstream_response_time $upstream_status'
    server-snippet: |
      add_header X-Frame-Options "SAMEORIGIN" always;
      add_header X-Content-Type-Options "nosniff" always;
      if ($wp_block) { return 404; }
    http-snippet: |
      map $uri $wp_block {
        default                                                    0;
        ~^/xmlrpc\.php$                                            1;
        ~^/readme\.html$                                           1;
        ~^/license\.txt$                                           1;
        ~^/wp-json/wp/v2/users$                                    1;
        ~^/wp-sitemap-users-\d+\.xml$                              1;
        ~^/wp-config\.php(\.bak|~)?$                               1;
        ~^/\.env$                                                  1;
        ~^/\.git                                                   1;
        ~^/\.ht                                                    1;
        ~^/.*\.(?:bak|old|orig|swp|ini|log|conf)$                  1;
        ~^/wp-content/uploads/.*\.(?:php|phar)$                    1;
        ~^/wp-content/uploads/.*\.(?:sql|sql\.gz|zip|tar|env|bak)$ 1;
      }

    ### 上段の proxy が L4 TCP passthrough の場合
    use-proxy-protocol: "true"
    real-ip-header: "proxy_protocol"
    set-real-ip-from: "0.0.0.0/0"

    ### 上段の proxy が L7 HTTP TLS passthrough の場合
    #use-forwarded-headers: "true"
    #real-ip-header: "X-Real-IP"
    #set-real-ip-from: "0.0.0.0/0"

  service:
    externalTrafficPolicy: "Local"

    ### 上段が L3 の場合 Metallb の VIP を割り当て
    annotations:
      metallb.universe.tf/address-pool: ingress-nginx
    type: LoadBalancer

    ### 上段が k8s 内部から FQDN でアクセスかつ externalTrafficPolicy を Local にする場合
    #type: NodePort

  autoscaling:
    enabled: true
    minReplicas: 2
    maxReplicas: 5
    targetCPUUtilizationPercentage: 60
    targetMemoryUtilizationPercentage: 70
  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchExpressions:
              - key: app
                operator: In
                values:
                  - nginx-proxy
          topologyKey: kubernetes.io/hostname
          namespaces:
            - nginx-proxy
