controller:
  config:
    log-format-upstream: '$proxy_protocol_addr - $request_id - [$proxy_add_x_forwarded_for] - $remote_user [$time_local] "$request" $status $body_bytes_sent "$http_referer" "$http_user_agent" $request_length $request_time [$proxy_upstream_name] $upstream_addr $upstream_response_length $upstream_response_time $upstream_status'
    server-snippet: |
      location = /readme.html { return 404; }
      location = /license.txt { return 404; }
      location = /wp-config.php { deny all; }
      location ~* /wp-config.php\.bak$ { deny all; }
      location = /xmlrpc.php { return 403; }
      location = /wp-cron.php { return 403; }
      location = /wp-json/wp/v2/users { deny all; }
      location = /wp-sitemap-users-1.xml { deny all; }
      location ~* /wp-content/uploads/.*\.(sql|sql\.gz|zip|tar|env|bak)$ { deny all; }
      location ~* /wp-content/uploads/.*\.php$ { deny all; }

    ### 上段の proxy が L4 TCP passthrough の場合
    use-proxy-protocol: "true"
    real-ip-header: "proxy_protocol"
    set-real-ip-from: "0.0.0.0/0"

    ### 上段の proxy が L7 HTTP TLS passthrough の場合
    #use-forwarded-headers: "true"
    #real-ip-header: "X-Real-IP"
    #set-real-ip-from: "0.0.0.0/0"

  service:
    externalTrafficPolicy: "Local"

    ### 上段が L3 の場合 Metallb の VIP を割り当て
    annotations:
      metallb.universe.tf/address-pool: pool2
    type: LoadBalancer

    ### 上段が k8s 内部から FQDN でアクセスかつ externalTrafficPolicy を Local にする場合
    #type: NodePort

  autoscaling:
    enabled: true
    minReplicas: 2
    maxReplicas: 5
    targetCPUUtilizationPercentage: 60
    targetMemoryUtilizationPercentage: 70
  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchExpressions:
              - key: app
                operator: In
                values:
                  - nginx-proxy
          topologyKey: kubernetes.io/hostname
          namespaces:
            - nginx-proxy
