speaker:
  securityContext:
    runAsNonRoot: false
    runAsUser: 0
    capabilities:
      add:
        - NET_ADMIN
        - NET_RAW
  livenessProbe:
    enabled: false
  readinessProbe:
    enabled: false
