server:
  replicaCount: 2
  remote:
    write:
      url: http://victoria-metrics-cluster-vminsert.monitoring.svc:8480
    read:
      url: http://victoria-metrics-cluster-vmselect.monitoring.svc:8481
  notifier:
    alertmanager:
      url: http://monitoring-backend-alertmanager01-001.monitoring.svc:9093
  extraArgs:
    external.url: "https://grafana.aimhighergg.com"
    external.alert.source: >-
      /explore?orgId=1&left={"datasource":"VictoriaMetrics","queries":[{"expr":{{ .Expr|jsonEscape|queryEscape }},"refId":"A"}],"range":{"from":"{{ .ActiveAt.UnixMilli }}","to":"now"}}
