ingressClass:
  enabled: true
  name: "traefik"
api:
  dashboard: true
  insecure: false 
service:
  annotations: 
    metallb.io/address-pool: ingress-traefik
    metallb.io/loadBalancerIPs: 192.168.1.105
ingressRoute:
  dashboard:
    enabled: false
logs:
  access:
    enabled: true
ports:
  web:
    expose:
      default: true
    exposedPort: 80
  websecure:
    expose:
      default: true
    exposedPort: 443
    protocol: TCP
    proxyProtocol:
      enabled: true
      trustedIPs:
        - "192.168.1.0/24" 
  traefik:
    port: 8080
    expose:
      default: false 
