deployment:
  replicas: 2
ingressClass:
  enabled: true
  name: "traefik"
api:
  dashboard: true
  insecure: false 
service:
  annotations: 
    metallb.io/address-pool: ingress-traefik
    metallb.io/loadBalancerIPs: 192.168.1.105
ingressRoute:
  dashboard:
    enabled: false
logs:
  access:
    enabled: true
additionalArguments:
  - "--entryPoints.web.transport.respondingTimeouts.readTimeout=1800s"
  - "--entryPoints.web.transport.respondingTimeouts.idleTimeout=1800s"
  - "--entryPoints.web.transport.respondingTimeouts.writeTimeout=1800s"
  - "--entryPoints.websecure.transport.respondingTimeouts.readTimeout=1800s"
  - "--entryPoints.websecure.transport.respondingTimeouts.idleTimeout=1800s"
  - "--entryPoints.websecure.transport.respondingTimeouts.writeTimeout=1800s"
ports:
  web:
    expose:
      default: true
    exposedPort: 80
  websecure:
    expose:
      default: true
    exposedPort: 443
    protocol: TCP
    proxyProtocol:
      enabled: true
      trustedIPs:
        - "192.168.1.0/24" 
  traefik:
    port: 8080
    expose:
      default: false 
