service:
  annotations: 
    metallb.io/address-pool: ingress-traefik
    metallb.io/loadBalancerIPs: 192.168.1.105
ingressRoute:
  dashboard:
    enabled: true
logs:
  access:
    enabled: true
    entryPoints:
      - web
      - websecure
